/* estilos/lugares_turisticos.css */

/* Estilos específicos para la página de lugares turísticos */

/* Sección de Encabezado */
.header-section {
    position: relative;
    height: 50vh;
    background: url('../imagenes/imagen_fondo_lugares_turisticos.png') center center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--light-text-color);
}

.header-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
}

.header-content {
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.header-content h1 {
    font-size: 3rem;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content .lead {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Botones de Navegación */
.button-container {
    margin: 20px 0;
}

.btn-custom {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-custom:hover {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
}

/* Secciones de Lugares Turísticos */
.tourist-section {
    margin-bottom: 60px;
}

.tourist-section h3 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.tourist-section p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--text-color);
}

.tourist-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.details {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.details h4 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: var(--primary-color);
}

.details ul {
    list-style-type: disc;
    padding-left: 20px;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .header-section {
        height: 60vh;
    }
    .header-content h1 {
        font-size: 2.5rem;
    }
    .header-content .lead {
        font-size: 1.2rem;
    }
    .tourist-section h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {
    .header-section {
        height: 70vh;
    }
    .header-content h1 {
        font-size: 2rem;
    }
    .header-content .lead {
        font-size: 1rem;
    }
    .tourist-section h3 {
        font-size: 1.6rem;
    }
}
